.Pokedex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Pokedex h4{
  color:#fff;
}
.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Pokedex-winner {
  color: #7fffd4;
}
.Pokedex-loser {
  color: #ff4500;
}
